.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Reference Image: https://m.media-amazon.com/images/I/61OnA6pSo6L._AC_SX425_.jpg */
/* Color Scheme: https://paletton.com/#uid=7060X0kpBsffQBRkSu-sNngv+iq */
/* Sector Shapes: https://stackoverflow.com/questions/21205652/how-to-draw-a-circle-sector-in-css */
/* Sector Positions: https://www.freecodecamp.org/news/how-to-center-anything-with-css-align-a-div-text-and-more/ */
#circle {
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background-color: black;
}
#green {
  width: 45%;
  height: 45%;
  border-top-left-radius: 100%;
  background-color: #006c21;
  float: left;
  clear: left;
  position: relative;
  top: 4%;
  left: 4%;
}
#red {
  width: 45%;
  height: 45%;
  border-top-right-radius: 100%;
  background-color: #931400;
  float: right;
  clear: right;
  position: relative;
  top: 4%;
  right: 4%;
}
#blue {
  width: 45%;
  height: 45%;
  border-bottom-right-radius: 100%;
  background-color: #0c1d64;
  float: right;
  clear: right;
  position: relative;
  top: 6%;
  right: 4%;
}
#yellow {
  width: 45%;
  height: 45%;
  border-bottom-left-radius: 100%;
  background-color: #936700;
  float: left;
  clear: left;
  position: relative;
  top: 6%;
  left: 4%;
}
#center {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  background-color: black;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.green-active {
  background-color: #21a649 !important;
}
.red-active {
  background-color: #e1452d !important;
}
.yellow-active {
  background-color: #e1ab2d !important;
}
.blue-active {
  background-color: #2d4299 !important;
}
#start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 175px;
  width: 175px;
  border-radius: 50%;
  border-width: 0;
  font-size: 28pt;
  color: #e3f2fd;
  background-color: #5d2971;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.card {
  position: absolute;
  width: 20rem;
  left: 0;
  top: 0;
  color: #282c34;
  font-size: 14pt;
  text-align: left;
  min-height: 100vh;
  z-index: 50;
}
.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
nav {
  background-color: #e3f2fd;
}
#scoreboard {
  left: auto;
  right: 0;
  z-index: 51;
  background-color: transparent;
  color: #e3f2fd;
  border-width: 0 !important;
}
#keybindings {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 20rem;
  z-index: 52;
  color: #e3f2fd;
  height: 25%;
}
.keybutton {
  width: 45%;
  margin: 2.5%;
  color: #e3f2fd;
}
#redkey {
  background-color: #931400;
}
#bluekey {
  background-color: #0c1d64;
}
#greenkey {
  background-color: #006c21;
}
#yellowkey {
  background-color: #936700;
}

dl {
  width: 100%;
}

dt {
  float: left;
  clear: left;
  width: 25%;
  font-weight: bold;
}

dt::after {
  content: ':';
}

dd {
  margin: 0 0 0 80px;
  padding: 0 0 0.5em 0;
}

.tiny {
  font-size: 10pt;
}
